*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header{
    display: flex;
    justify-content: space-between;

    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #0073dc;
    padding: 20px;
    padding-bottom: 15px;
    z-index: 2;
}


header button{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 7px;
    font-weight: bold;
    font-size: 1.05rem;
    text-transform: uppercase;
    background-color: #ffc800;
    color: #fff;
    margin: 0 0 0 10px;
    outline: none;
}



header a{
    color: #fff;
    margin: 0px 16px;
    font-size: 1.25rem;
    font-weight: bold;
    font-style: none;
    text-decoration: none;
}




.container-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;


    margin: 60px 0px;
    padding: 20px;
    width: 100%;
    height: 700px;
    background-color: #0073dc;
}


.sub-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 50%;
    background-color: #0073dc;
}

.container-wrapper img{
    width: 400px;
    height: 500px;
    margin: 0px 10px 0px 50px;
    
}
.main-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.main-description h1{
    color: #fff;
    font-size: 2.8rem;
    text-align: start;
    width: 500px;
    min-width: 400px;
    font-weight: bold;
}

.main-description p{
    color: #fff;
    font-size: 1.2rem;
    text-align: justify;
    width: 500px;
    min-width: 400px;
    margin-top: 20px;
}

.main-description button{
    width: 180px;
    height: 45px;
    border-radius: 20px;
    border: none;
    padding: 7px;
    font-weight: bold;
    font-size: 1.05rem;
    text-transform: uppercase;
    background-color: #ffc800;
    color: #fff;
    margin: 20px 320px 20px 0px;
    outline: none;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-container img{
    width: 600px;
}

.middle-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    height: 1200px;
    padding-bottom: 20px;
}

.video-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: 690px;
    background: linear-gradient(#3333, #fff, top-to-bottom);
    border-radius: 20px;
    outline: none;
    border: none;
}

iframe{
    width: 800px;
    height: 440px;
    border-radius: 20px;
    outline: none;
    border: none;
}

.middle-content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 50%;
}

.middle-content h3{
    font-size: 2rem;
    margin-bottom: 20px;
}

.cards-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 500px;
    
}

.card1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 25%;
    min-width: 100px;
    height: 400px;
    margin: 0 5px;
    background-color: #0046a0!important;
    border-radius: 20px;
    transition: .3s;

}

.card2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 25%;
    min-width: 100px;
    height: 400px;
    margin: 0 5px;
    background-color: #0073dc!important;
    border-radius: 20px;
    transition: .3s;
}

.card3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 25%;
    min-width: 100px;
    height: 400px;
    margin: 0 5px;
    background-color: #008282!important;
    border-radius: 20px;
    transition: .3s;
}

.card1 p, .card2 p, .card3 p {
    color: #fff;
    margin: 0px auto;
    text-align: center;
    font-size: 1.1rem;
    width: 80%;
}

.card1 h3, .card2 h3, .card3 h3 {
    color: #fff;
    font-size: 1.5rem;
}


.cards-container img{
    width: 170px;
    height: 170px;
    margin-top: 15px;
}

.middle-content button{
    width: 280px;
    height: 45px;
    border-radius: 20px;
    border: none;
    padding: 7px;
    margin: 20px auto;
    font-weight: bold;
    font-size: 1.05rem;
    text-transform: uppercase;
    background-color: #009ce4;
    color: #fff;
    outline: none;
}

.mobile-adv-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 1000px;
    background-color: #0073dc;
}

.mobile-store-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 600px;
}

.mobile-store-description h3{
    font-size: 1.8rem;
    color: #fff;
    width: 80%;
}

.stores-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.stores-container img{
    margin:30px 10px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 460px;
    background-color: #fff;
    margin-top: 30px;
}

.social-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 300px;
    height: 100px;
}

.facebook{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #10438f;
  
    outline: none;
    border: none;
}

.linkedin{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #2d68c2;
      outline: none;
    border: none;
}

.twitter{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #3179cc;
    outline: none;
    border: none;
}

.instagram{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #1ed1c8;
    outline: none;
    border: none;
}

.youtube{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #1a837a;
    outline: none;
    border: none;
}

.internal-links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 500px;
    height: 60px;
}

.internal-links a{
    text-decoration: none;
    font-size: .9rem;
    color: #3179cc;
    font-weight: bold;
    margin: 5px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    border-top: 2px solid #777;
    border-bottom: 2px solid #777;
    padding: 10px;
}

.email1, .email2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.email1 p, .email2 p{
    font-size: .75rem;
    margin-left: 5px;
}

.email1 span, .email2 span{
    font-size: .75rem;
    font-weight: bold;
}

.bottom-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 1000px;
    height: 180px;
}

.left-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 70%;
    height: 160px;
}

.left-content p{
    font-size: .75rem;
    width: 350px;
}

.right-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 300px;
    height: 160px;
    margin-left: 200px;
}

.right-content p{
    font-size: .75rem;
    width: 250px;
    text-align: end;
}


.right-content img{
    width: 180px;
    height: 50px;
    align-self: flex-end;
}


button{
    transition: .3s;
}

button:hover{
    filter: brightness(.9);
}

.card1:hover, .card2:hover, .card3:hover{
    filter: brightness(.9);
}

@media (max-width: 1160px){
 
    .container-wrapper{
        display: flex;
        justify-content: center;

        width: 100%;
    }

    .main-description{
        transform: translateX(135px);
    }

    .main-description h1{
        font-size: 1.6rem;
        text-align: justify;
        width: 300px;
    }
    
    .main-description p{
        color: #fff;
        font-size: 1rem;
        text-align: justify;
        width: 300px;
    }

    .main-description button{
        margin-left: 80px;
        transform: scale(.9);
    }
    .container-wrapper img{
        transform: scale(.6) translateX(-10px);
        margin-right: 5px;
    }

    .cards-container:{
        width: 760px;
    }

    
.middle-content button{
    width: 740px;
}

.cards-container{
    width: 120%;
}
.bottom-footer{
    display: flex;
    justify-content: center;
}

footer{
    transform: scaleX(.8);
}


@media (max-width: 760px){
    .sub-wrapper{
        display: flex;
        flex-direction: column;
    }
    
    .container-wrapper{
        height: 680px;
    }

    .main-description{
        transform: none;
        padding-top: 20px;
    }

    .img-container{
        height: 350px;
    }

    iframe{
        width: 400px;
        height: 260px;
    }

    .video-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 800px;
    }

    .middle-content-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 1600px;
    }

    .middle-content-container h3{
        text-align: center;
        font-size: 1.6rem;
        margin-top: 40px;
    }

    .middle-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 1700px;
    }

    .cards-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 1200px;
    }

    .card1, .card2, .card3{
        width: 400px;
        height: 450px;
        margin: 15px;
    }

    .middle-content-container button{
        width: 250px;
    }
}


}




